<!-- <div class="container d-flex py-2"> -->
<div class="container">
  <%= form_tag ghosts_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a ghost"
    %>
    <%= submit_tag "Search", class: "btn btn-dark" %>
  <% end %>



  <h1 class="p-3 text-center font-weight-bold">Browse Ghosts</h1>
  <div class="cards">
  <% @ghosts.each do |ghost| %>
    <%= link_to ghost_path(ghost), class: "text-decoration-none" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?ghost)">
        <p><%= ghost.name %></p>
      </div>
    <% end %>
   <% end %>
    </div>
  </div>
</div>
