<html>
  <head>
    <!-- link rel="stylesheet" href="book-now-button.css">
    <link rel="stylesheet" href="card-ghost.css">
    <link rel="stylesheet" href="card-grid-ghosts.css"> -->
  </head>

  <body>
    <h1>Ghost</h1>
    <div class="card-ghost">
        <img src=https://images.unsplash.com/photo-1583638666708-5ba77a6f8bd1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Z2hvc3R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"/>
        <%= link_to "Book now", new_ghost_booking_path(@ghost), class:"btn btn-flat" %>
        <div class="card-ghost-infos">
      <div>
        <h2><%= @ghost.name %></h2>
        <h3><%= @ghost.location %></h3>
        <p><%= @ghost.description %></p>
        <p>Paragraph about Ghost here!</p>
      </div>
        <h2 class="card-ghost-pricing">£ <%= @ghost.rate %></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-ghost-user avatar-bordered" />
      </div>
    </div>


    <div>
      <h1 >Check out some other Ghosts</h1>
    </div>

    <div>
      <div class="cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to "Sad Ghosts", ghosts_path %>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          <%= link_to "Happy Ghosts", ghosts_path %>
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
          <%= link_to "Weird Ghosts", ghosts_path %>
        </div>
      </div>

    </div>


    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
      </div>
   </div>


  </body>
</html>
